$border-radius             : .25rem !default;
$border-width              : 1px !default;

$state-success-text        : #3c763d !default;
$state-success-bg          : #dff0d8 !default;
$state-success-border-color: darken($state-success-bg, 5%) !default;

$state-info-text           : #31708f !default;
$state-info-bg             : #d9edf7 !default;
$state-info-border-color   : darken($state-info-bg, 7%) !default;

$state-warning-text        : #8a6d3b !default;
$state-warning-bg          : #fcf8e3 !default;
$mark-bg                   : $state-warning-bg !default;
$state-warning-border-color: darken($state-warning-bg, 5%) !default;

$state-danger-text         : #a94442 !default;
$state-danger-bg           : #f2dede !default;
$state-danger-border-color : darken($state-danger-bg, 5%) !default;

$alert-padding-y           : .5rem !default;
$alert-padding-x           : 1rem !default;
$alert-margin-bottom       : .75rem !default;
$alert-border-radius       : $border-radius !default;
$alert-link-font-weight    : bold !default;
$alert-border-width        : $border-width !default;

$alert-success-bg          : $state-success-bg !default;
$alert-success-text        : $state-success-text !default;
$alert-success-border-color: $state-success-border-color !default;

$alert-info-bg             : $state-info-bg !default;
$alert-info-text           : $state-info-text !default;
$alert-info-border-color   : $state-info-border-color !default;

$alert-warning-bg          : $state-warning-bg !default;
$alert-warning-text        : $state-warning-text !default;
$alert-warning-border-color: $state-warning-border-color !default;

$alert-danger-bg           : $state-danger-bg !default;
$alert-danger-text         : $state-danger-text !default;
$alert-danger-border-color : $state-danger-border-color !default;